In [26]:
import pandas as pd

In [27]:
df = pd.read_csv('synthetic_travel_times.csv')

In [28]:
df.head()

  orig_gh dest_gh  travel_time_ms
0       a       b         3600000
1       b       a         3600000
2       a       c         3600000
3       c       a         3600000
4       a       d         7200000

In [29]:
output_list = [] 
for index, row in df.iterrows():
    base_cost = row.travel_time_ms / 3600000.0
    for required_capacity in range(100,2100,100):
        cost = base_cost * (100.0 + (required_capacity-100)/4)
        vehicles =  "100.0:" + str(int(required_capacity / 100))
        output_list.append((row.orig_gh, row.dest_gh, required_capacity, cost, vehicles))

In [30]:
df_output = pd.DataFrame(output_list, columns = ['orig_gh', 'dest_gh', 'required_capacity', 'cost', 'vehicles'])
df_output.to_csv('synthetic_vehicle_costs.csv', index = False)

In [31]:
df_output

    orig_gh dest_gh  required_capacity   cost  vehicles
0         a       b                100  100.0   100.0:1
1         a       b                200  125.0   100.0:2
2         a       b                300  150.0   100.0:3
3         a       b                400  175.0   100.0:4
4         a       b                500  200.0   100.0:5
..      ...     ...                ...    ...       ...
395       e       d               1600  475.0  100.0:16
396       e       d               1700  500.0  100.0:17
397       e       d               1800  525.0  100.0:18
398       e       d               1900  550.0  100.0:19
399       e       d               2000  575.0  100.0:20

[400 rows x 5 columns]